<div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider>

</mat-divider>
<div class="mb-5"></div>
<div class="form-group row">
    <div class="col-sm-4 col-md-4 col-4">
        <app-total-properties-chart></app-total-properties-chart>
    </div>
    <div class="col-sm-4 col-md-4 col-4">
        <app-property-category-chart></app-property-category-chart>
    </div>
    <div class="col-sm-4 col-md-4 col-4">
        <app-rental-type-chart></app-rental-type-chart>
    </div>
</div>

<mat-divider>

</mat-divider>
<div class="mb-5"></div>